/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
}
.webapp {
    width: 100%;
    height: 100vh;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
h2, h3 {
    color: white;
}
p {
    color: lightgray;
}

/* UPGRADE */
.upgrade {
    width: calc(100% - 250px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
}
.upgrade a {
    display: inline-block;
    line-height: normal;
    border: 1px solid white;
    color: white;
    padding: 5px 30px;
    border-radius: 20px;
    margin-top: 25px;
    margin-right: 20px;
    font-size: 11px;
}

/* MAIN */
main {
    height: calc(100vh - 80px);
    width: 100%;
    overflow: hidden;
}
/* Navigator */
.navbar {
    width: 250px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    color: white;
}
/* Logo */
.logo {
    width: 100%;

    /* TEST */
    background-color: darkcyan;
    height: 40px;

}
/* Options Navigator */
.home {
    width: 100%;

    /* TEST */
    background-color: darkgoldenrod;
    height: 40px;
}
.find {
    width: 100%;

    /* TEST */
    background-color: darkgray;
    height: 40px;
}
.yourlibrary {
    width: 100%;

    /* TEST */
    background-color: saddlebrown;
    height: 40px;
}
.playlist {
    height: calc(100% - 82px);
    overflow-y: auto;
    
    /* TEST */
    background-color: seagreen;
}
.playlist a {
    color: white;
}
.install, .user {

    /* TEST */
    background-color: skyblue;
    height: 20px;
}
/* Mainwrapper */
.mainwrapper {
    width: calc(100% - 250px);
    height: 100%;
    float: left;
    padding-top: 85px;
    overflow-y: auto;

    /* TEST */
    background-color: #141922;
}
.categories {
    width: 60%;
    margin: auto;
    text-align: center;

    /* TEST */
    background-color: indianred;
    min-height: 40px;
}
.categories li {
    display: inline-block;
    margin: 0 23px;
}
.recently {
    display: flex;
}
.created-for-user {
    display: flex;
}
.mostpopular {
    display: flex;
}
.mostpopular img {
    border-radius: 50%;
}
.song {
    width: calc(100% / 6);
    height: 100%;
    margin: 0 5px;
    text-align: center;
}
.textsections {
    margin: 30px 0 10px 5px;
}

/* FOOTER */
footer {
    height: 80px;
    width: 100%;
    overflow: hidden;

    /* TEST */
    background-color: cadetblue;
}

/* MEDIA QUERY */
@media screen and (max-width: 700px) {
    .song {
        flex: none;
        width: 22%;
    }
    .recently {
        flex-wrap: wrap;
    }
}