/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
}
.webapp {
    width: 100%;
    height: 100vh;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
h2, h3 {
    color: white;
}
p {
    color: lightgray;
}

/* UPGRADE BAR TOP*/
.upgrade {
    width: calc(100% - 250px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
}
.upgrade a {
    display: inline-block;
    line-height: normal;
    border: 1px solid white;
    color: white;
    padding: 5px 30px;
    border-radius: 20px;
    margin-top: 25px;
    margin-right: 20px;
    font-size: 9px;
}

/* MAIN */
main {
    height: calc(100vh - 80px);
    width: 100%;
    overflow: hidden;
}
/* Navigator */
.navbar {
    width: 250px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: black;
}
/* Logo */
.logo {
    width: 70%;
    padding: 10px;
}
.logo img:last-child {
    display: none;
}
/* Options Navigator */
.featuresnav {
    padding: 15px 10px;
    line-height: 35px;
    font-size: 14px;
}
.featuresnav li img {
    vertical-align: middle;
    width: 10%;
    color: #a3a3a3;
}
.featuresnav a {
    color: #5b5b5b;
    font-weight: bold;
}
#home {
    color: white;
}
.createplaylist {
    font-size: 16px;
    font-weight: 800;
}
.createplaylist a {
    color: #5b5b5b;
}
.createplaylist span {
    background-color: #a3a3a3;
    color: black;
    padding: 0 6px;
    font-size: 25px;
    vertical-align: middle;
}
.contain-nameplaylist {
    height: 100%;
    overflow-y: auto;
}
.nameplaylist {
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
    line-height: 30px;
    color: #5b5b5b;
    padding: 10px 10px;
}
.nameplaylist a {
    color: #5b5b5b;
    font-size: 13px;
    font-weight: bold;
}
.playlist {
    height: 200px;
    padding: 0 10px;
    line-height: 40px;
}
.playlist h3 {
    font-size: 15px;
}
.install-user {
    padding: 5px 0;
    font-size: 14px;
}
.install, .user {
    height: 15px;
    width: 90%;
    margin-left: 10px;
    margin-bottom: 10px;
}
.install {
    color: #5b5b5b;
    font-weight: bold;
    font-size: 13px;
}
.user {
    color: white;
    font-weight: 800;
}
.install img {
    width: 8%;
    vertical-align: middle;
    filter: invert(0.5);
}
.user img {
    width: 8%;
    vertical-align: middle;
    background-color: #808080;
    border-radius: 50%;
}
.border {
    border: 1px solid #313131;
    width: 90%;
    margin: 5px 10px;
}

/* Bar TOP Mainwrapper Categories */
.categories a {
    color: #6e7075;
    font-size: 12px;
}
.categories li:first-child {
    border-bottom: 2px solid #9adf2d;
}
.categories {
    width: 60%;
    margin: auto;
    text-align: center;
}
.categories li {
    display: inline-block;
    margin: 0 10px;
}
/* Mainwrapper */
.mainwrapper {
    width: calc(100% - 250px);
    height: 100%;
    float: left;
    padding-top: 85px;
    overflow-y: auto;
    background-color: #141922;
}
.mainwrapper h3 {
    font-size: 16px;
}
.mainwrapper p {
    font-size: 12px;
    color: #6e7075;
    margin-top: 5px;
}
.textsections {
    margin: 30px 0 10px 5px;
}
/* Section 1 */
.recently {
    display: flex;
    flex-wrap: wrap;
}
/* Section 2 */
.created-for-user {
    display: flex;
}
/* Section 3 */
.mostpopular {
    display: flex;
}
.mostpopular img {
    border-radius: 50%;
}
/* Box single song */
.song {
    width: calc(100% / 6);
    max-width: 250px;
    min-width: 120px;
    height: 100%;
    margin: 20px 10px;
    text-align: center;
}
.cover {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    position: relative;
}
.mostpopular .song-overlay {
    border-radius: 50%;
}
.song-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
}
.song-overlay i {
    color: white;
}

/* Effect Hover */
a:hover {
    color: white;
}
.song-overlay:hover {
    display: block;
}

/* FOOTER */
footer {
    height: 80px;
    width: 100%;
    overflow: hidden;
    background-color: #282828;
}
.strumentfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.playsong{
    display: flex;
    width: 250px;
    height: 100%;
    padding: 20px;
}
.playsong-cover {
    width: 20%;
}
.playsong-cover img {
    width: 100%;
}
.playsongtxt {
    width: 50%;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.playsongtxt h3 {
    font-size: 13px;
    line-height: 10px;
}
.playsongtxt p {
    font-size: 11px;
}
.playsongicon {
    filter: invert(1);
}
.playsongicon i {
    margin-left: 20px;
    font-size: smaller;
    color: #808080;
}
.playoptions {
    width: 40%;
    height: 100%;
}
.btns ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.btns i {
    filter: invert(1);
    margin: 15px;
    font-size: 16px;
}
.playicon i {
    width: 50px;
    font-size: 30px;
    text-align: center;
}
.timesong {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time {
    width: 10%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 9px;
    text-align: center;
    color: white;
    font-size: 7px;
}
.bar {
    height: 3px;
    border-radius: 5px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.2);
}    
.onbar {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    border-radius: 5px;
    background-color: #a3a3a3;
    width: 25%;
}
.onbar:hover {
    background-color: #9adf2d;
}
.cursor {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}
.strumentsaudio {
    width: 20%;
}
.strumentsaudio ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.strumentsaudio i {
    color: white;
}
.volume {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* MEDIA QUERY */
@media screen and (max-width: 700px) {
    .song {
        flex: none;
        width: 20%;
    }
}
@media screen and (max-width: 600px) {
    .song {
        width: 40%;
    }
}
@media screen and (max-width: 560px) {
    .navbar {
        width: 50px;
    }
    .mainwrapper {
        width: calc(100% - 50px);
    }
    .upgrade {
        width: calc(100% - 50px);
    }    
    .logo img {
        display: none;
    }
    .logo img:last-child {
        display: block;
        width: 210%;
    }
    .mediaund600 {
        display: none;
    }
    .featuresnav li img {
        width: 100%;
    }
    .install-user img {
        width: 50%;
        margin-left: 3px;
    }
    .install img {
        padding-right: 4px;
        padding-left: 1px;
    }
    .border {
        border: 1px solid black;
    }
    .nameplaylist {
        display: none;
    }
    .playlist {
        display: none;
    }
}